<!-- ejs : embeded javascript -->
<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>홈페이지</h1>
            <% if(logStatus = undefined || logStatus!= 'Y'){  %>
    <a href="/login">로그인</a>
            <% }else if(logStatus ='Y' ){   %>
    <%=user.username %>님<a href="/logout">로그아웃</a>
    <% } %>            
    <a href="/boardList">게시판목록</a>
</body>
</html>

